div#entete{
	width:100%;
	height:15%;
	background-color:#333333;
	text-align: center;
	position:fixed;
	color:#FFFFFF;
    top: 0;
	right:0;
	left:0;
	line-height: 95%
}

div#contenu {
	width:80%;
	min-height:80%;
	background-color:#FFFFFF;
	text-align: center;
	color:#000000;
	position:fixed;
	left:15%;
	top:15%;
}

div#menu{
	float:left;
	width:10%;
	min-height:80%;
	background-color:#FFFFFF;
	text-align: center;
	color:#000000;
	position:fixed;
	left:0;
	top:15%;
}

div#piedpage {
	width:100%;
	height:5%;
	background-color: #333333;
	text-align: center;
	position: fixed;
    bottom: 0;
	color:#FFFFFF;
	right:0;
	left:0;
}

a{
	color:black;
	text-decoration:none;
	font-size:14pt;
	font-weight: bold;
}